@media only screen and (min-width: 32.5em){
    h1 {
        color: rgb(105, 7, 7);
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }  
    header img {
        box-shadow: 0 0 30px black;
        float: right;
        border-radius: 0 10px 0 0;
    }
    header,
footer {
    border-radius: 15px;
}
}